html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  font-size: 110%;
  color: #222;
  word-wrap: break-word; }
  @media screen and (max-width: 800px) {
    body {
      font-size: 100%; } }

@media screen and (max-width: 1250px) {
  .container .navbar {
    left: 0;
    transition: 0.3s; } }

@media screen and (max-width: 1250px) {
  .container .navbar-active {
    left: -350; } }

.container #navbar {
  position: fixed;
  width: 350px;
  height: 100%;
  padding: 4rem 2rem 11rem 2rem;
  background-color: #9629b805;
  border: 1px solid #1e1c1f41;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  float: left; }
  .container #navbar::-webkit-scrollbar {
    width: 0.3rem; }
  .container #navbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(137, 21, 148, 0.322);
    box-shadow: inset 0 0 6px rgba(137, 21, 148, 0.322); }
  .container #navbar::-webkit-scrollbar-thumb {
    background-color: #9010cc52;
    outline: 1px solid #9010cc52; }
  .container #navbar header {
    margin-bottom: 1rem; }
  .container #navbar ul a {
    text-decoration: none;
    transition: color 0.3s; }
    .container #navbar ul a .active {
      border-bottom: 2px solid rgba(144, 16, 204, 0.7); }
    .container #navbar ul a li {
      list-style-type: none;
      color: #222;
      font-weight: 500;
      padding: 0.9rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      transition: 0.3s; }
      .container #navbar ul a li:hover {
        transform: translateY(-2px);
        list-style-type: disc;
        color: rgba(144, 16, 204, 0.7); }

.container .main {
  margin-left: 400px; }
  @media screen and (max-width: 1250px) {
    .container .main {
      margin-left: 2rem; } }

@media screen and (max-width: 1250px) {
  .container .main-active {
    margin-left: 400px; } }

.container #main-doc {
  max-width: 100%;
  margin-top: 4rem;
  margin-bottom: 11rem;
  padding-right: 1rem;
  transition: 0.3s;
  overflow: hidden; }
  .container #main-doc section header > h1 {
    font-size: 1.8rem; }
  .container #main-doc section ul {
    list-style-position: inside; }
    .container #main-doc section ul li > ul {
      margin-left: 1em; }
  .container #main-doc section p {
    padding: 0.5rem 0; }
  .container #main-doc section h2 {
    padding: 0.5rem 0;
    font-size: 1.5rem; }
  .container #main-doc section h3 {
    padding: 0.5rem 0; }
  .container #main-doc section code {
    display: inline-block;
    background-color: rgba(238, 173, 224, 0.2); }
  .container #main-doc section .code-block {
    display: block;
    padding: 1rem;
    margin-left: 0.5rem;
    border-left: 3px solid #4387e0;
    border-radius: 1px; }
  .container #main-doc section a {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    border-bottom: 3px solid rgba(144, 16, 204, 0.2);
    transition: 0.4s ease-out; }
    .container #main-doc section a:hover {
      opacity: 0.8;
      background-color: #9010cc2d; }

#js-navbar-toggle {
  width: 60px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0;
  left: 15; }
  @media screen and (max-width: 1250px) {
    #js-navbar-toggle {
      display: block; } }
  #js-navbar-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    background: rgba(0, 0, 0, 0.918);
    border-radius: 9px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  #js-navbar-toggle span:nth-child(1) {
    top: 15px; }
  #js-navbar-toggle span:nth-child(2) {
    top: 26px; }
  #js-navbar-toggle span:nth-child(3) {
    top: 26px; }
  #js-navbar-toggle span:nth-child(4) {
    top: 37px; }
  #js-navbar-toggle.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  #js-navbar-toggle.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #js-navbar-toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #js-navbar-toggle.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }
