.container {
  & #navbar {
    position: fixed;
    width: 300px;
    height: 100%;
    padding: 0rem 0 1rem 1rem;
    background-color: #9629b805;
    border: 1px solid #1e1c1f41;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
    top: 0;
    float: left;

    &::-webkit-scrollbar {
      width: 0.3rem;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(137, 21, 148, 0.322);
      box-shadow: inset 0 0 6px rgba(137, 21, 148, 0.322);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #9010cc52;
      outline: 1px solid #9010cc52;
    }

    & header {
      margin-bottom: 1rem;
    }
    & ul {
      & a {
        text-decoration: none;
        transition: color 0.3s;

        & li {
          list-style-type: none;
          color: #222;
          font-weight: 500;
          padding: 0.9rem;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
          transition: 0.3s;

          &:hover {
            transform: translateY(-2px);
            list-style-type: disc;
            color: rgba($color: #9010cc, $alpha: 0.7);
          }

          & .active {
            border-bottom: 2px solid rgba($color: #9010cc, $alpha: 0.7);
          }
        }
      }
    }
  }

  & #main-doc {
    margin: 2rem 0;
    margin-left: 350px;
    max-width: 80%;

    & section {
      & header > h1 {
        font-size: 1.8rem;
      }
      //   & ul {
      //     list-style-position: inside;

      //     & li > ul {
      //       list-style-position: unset;
      //     }
      //   }
      & p {
        padding: 0.5rem 0;
      }
      & h2 {
        padding: 0.5rem 0;
        font-size: 1.5rem;
      }
      & h3 {
        padding: 0.5rem 0;
      }
      & code {
        display: inline-block;

        background-color: rgba($color: #eeade0, $alpha: 0.2);
      }

      & .code-block {
        display: block;
        padding: 1rem;
        margin-left: 0.5rem;
        border-left: 3px solid rgb(67, 135, 224);
        border-radius: 1px;
      }
      & a {
        text-decoration: none;
        color: #222;
        font-weight: 600;
        border-bottom: 3px solid rgba($color: #9010cc, $alpha: 0.2);
        transition: 0.3s;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
